.primary{
  background-color: #0336ff;
  color: #FFFFFF;
}

.accent{
  background-color: #d602ee;
  color: #FFFFFF;
}

.header{
  display: flex;
}

.logoContainer{
  width: 40%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.logo{
  height: 110px;
}

.pageContainer{
  width: 60%;
  display: flex;
}

.pageLink{
  text-align: center;
  font-family: 'Cousine', monospace;
  padding-top: 40px;
}

.pageLink:hover{
  background-color: #d602ee;
  color: #FFFFFF;
}

body{
  margin: 0px;
}
